@using NguyenQuocAn.Models
@model IEnumerable<SanPham>
@foreach (var item in Model.Take(3))
{
    <div class="col-md-4 product-men mt-5">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item text-center">
                <img src="@Url.Content("~/Content/images/"+item.HinhAnh)" alt="">
                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="@Url.Action("ChiTietSanPham","Product",new { @MaSP = item.MaSP })" class="link-product-add-cart">Quick View</a>
                    </div>
                </div>
            </div>
            <div class="item-info-product text-center border-top mt-4">
                <h4 class="pt-1">
                    <a href="@Url.Action("ChiTietSanPham","Product",new { @MaSP = item.MaSP })">@item.TenSP</a>
                </h4>
                <div class="info-product-price my-2">
                    <span class="item_price">$@item.DonGIa</span>
                    <del>$280.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                    <form action="#" method="post">
                        <div class="button btn" style="background-color:#0c8ae4">
                            <a href="@Url.Action("ThemGiohang","Giohang",new{@MaSP=item.MaSP, @strURL=Request.Url.ToString()})" name="submit" value="Add to cart" class="button btn" style="color:#fff; display:block;">ADD TO CART</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
}